{% extends "base.html" %}
{% load static %}

<title>{% block extra_title %}E Shop | Home{% endblock %}</title>

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="home-image-container h-100" role="img" aria-label="gold and grey high-end dining room interior design">

           <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <div class="alert text-center text-bold">Free delivery on orders over ${{ free_delivery_threshold }}!</div>
                <h1 class="display-4 logo-font text-white">
                    Check Out Our Latest Collection
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>   
{% endblock %}